---
apiVersion: v1
data:
  authtoken: ${packet_auth_token}
kind: Secret
metadata:
  name: cluster-autoscaler-packet
  namespace: kube-system
type: Opaque
---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-autoscaler-cloud-config
  namespace: kube-system
type: Opaque
stringData:
  cloud-config: |-
    [Global]
    project-id=${project_id}
    facility=${facility}
    hostname-pattern={{.ClusterName}}-{{.NodeGroup}}-{{.RandString8}}
    os=flatcar_${os_channel}
    plan=${type}
    billing=hourly
    reservation=prefer
    cloudinit="${user_data}"
